<h2>Stop Words<a class="btn btn-primary pull-right" href="#/stopwords_new"><i
        class="icon-plus-sign icon-white"></i>Agregar</a></h2>

<form class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-12">
            <input class="form-control" id="inputEmail3" placeholder="Buscar" ng-model="searchword">
        </div>
    </div>
</form>

<table class="table table-hover">
    <tr>
        <th>
            #
        </th>
        <th>
            Palabra
        </th>
        <th>
        </th>
    </tr>
    <tr class="success-{{todo.done}}" ng-repeat="word in stopwords | filter:searchword">
        <td>{{$index + 1}}</td>
        <td>
            {{stopwords[$index]}}
        </td>
        <td>
            <a class="btn btn-default btn-sm" ng-click="removeStopWord(stopwords[$index])" >Eliminar</a>
        </td>
    </tr>
</table>