<h2>Nueva Stop Words</h2>

<form>
    <div class="form-group">
        <label for="inputWord">Palabra</label>
        <input class="form-control" id="inputWord" placeholder="Stop Word" ng-model="new_word">
    </div>

    <button type="Guardar" class="btn btn-primary" ng-click="save()">Guardar</button>

</form>